:root {
  --clr-primary-200: hsl(123, 100%, 99%);
  --clr-primary-400: hsl(123, 100%, 40%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 90%);
  --clr-neutral-300: hsl(0, 0%, 80%);
  --clr-neutral-700: hsl(0, 0%, 25%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --fw-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-200);
}

img,
svg {
  max-width: 100%;
  display: block;
}

header {
  background-color: var(--clr-neutral-100);
  padding: 2em 1.5em;
  border-bottom: 2px solid var(--clr-primary-400);
  box-shadow: 0 5px 5px hsla(0, 0%, 20%, 0.1);
}

main {
  padding: 3em 1em;
}

.card {
  width: 300px;
  height: 500px;
  padding: 1em;
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-300);
  border-radius: 10px;
}

.card:hover {
  transform: scale(101%);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
}

.card--empty {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card--empty > button {
  --btn-size: 150px;
  width: var(--btn-size);
  height: var(--btn-size);
  font-size: 5rem;
  font-weight: var(--fw-bold);
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-700);
  border: none;
  border-radius: 50%;
}

.card--empty > button:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.card--empty > button:active {
  transform: scale(0.97);
}

.card-thumbnail {
  --cover-color: #45aab8; /* gets manipulated by javascript */
}

.card-thumbnail__cover-color {
  fill: var(--cover-color);
}

/* Utility classes */
.hidden {
  display: none;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
